<div class="info">
    <h2 class="title">{{this.title}}</h2>
    <h4 class="genre">Type: {{this.type}}</h4>
    <h4 class="certificate">Certificate: {{this.certificate}}</h4>
    <h4 class="price">Price: €{{this.price}}</h4>
    <div class="learn-more">
        <a href="/courses/details/{{this._id}}">Learn More...</a>
    </div>
</div>